---
IndentWidth: 4
UseTab: Never

ColumnLimit: 80

AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

AlignArrayOfStructures: Left

# Put argument and parameter lists on multiple lines if they don't fit on a single line
BinPackArguments: true
BinPackParameters: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false


BreakBeforeBraces: Allman
AccessModifierOffset: -4

IncludeCategories:
  - Regex: '^<.*>$'
    Priority: 1
  - Regex: '.*'
    Priority: 2

SortIncludes: true

